.top_container {
    text-align: center;
    background-color: #FEFCF3;
    border: 0;
}

.middle-container {
    text-align: center;
    background-color: #F0DBDB;
}

.contact-me {
    background-color: #DBA39A;
}

.pro {
    font-weight: bold;
}

.top-cloud {
    position: absolute;
    right: 20%;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
}
.photo{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.soft-skills{
    height: 200px;
}
.hard-skills{
    height: 200px;
}
.contact-me{
    background-color: mintcream;
}
h1 {
    margin-top: 0;

    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
}
body {
    margin: 0;
    font-family: 'Merriweather', serif;
}